body {
    padding-top: 170px;
}

h1{
    margin-left: 20px;
}

header nav{
    background-color: black;
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 145px;
}

.wraper{
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.header-ul{
    display: flex;
    flex-direction: row;
}

.header-ul li{
    padding: 15px 30px 15px 0;
}

#pickup{
    display: flex;
    justify-content: space-between;
}

#pickup article{
    width: 32%;
}

#pickup .article-title{
    font-size: 15px;
}

.readmore{
    text-align: center;
    font-size: 13px;
}

.readmore a{
    border-bottom: 1px solid black;
}

.column-container{
    display: flex;
    padding: 0 10px;
}

.column-ul{
    display: flex;
    flex-direction: row;
    padding-left: 7px;
}

.column-ul li{
    margin-right: 15px;
}

.column-img{
    width: 95%;
}

main {
    width: 100%;
    min-width: 370px;
    max-width: 1000px;
    margin: auto;
}

aside {
    width: 300px;
    min-width: 300px;
    margin: 30px auto;
}

.author-gazou{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-left: 80px;
    margin-top: 30px;
}

aside h3{
    text-align: center;
}

aside p{
    font-size: 12px;
}

.archive-list{
    padding-left: 0;
    border-bottom: solid 1px black;
}

.archive-list li{
    border-top: solid 1px black;
    padding: 20px;
    font-size: 12px;
}

footer{
    padding: 15px;
    background-color: rgb(206, 203, 200);
}

footer .flexbox-footer{
    display: flex;
    justify-content: space-between;
}

.flexbox-footer p{
    font-size: 15px;
}

.flexbox-footer section{
    width: 33%;
}

.footer-text{
    margin-top:30px;
    margin-bottom:30px;
    position: relative;
}

.footer-text li{
    position: relative;
}

.footer-text li::before{
    position:absolute;
	  content:'';
	  top: 0.5em;
	  left: 0.2em;
	  height:0;
	  width:0;
	  border-style: solid;
	  border-width: 6px 0 6px 9px;
	  border-color: transparent transparent transparent #030618;
    margin-left: -25px;
}

.menu-ul{
    border-bottom: solid 1px black;
    padding-left: 0;
}

.menu-ul li{
    border-top: solid 1px black;
    padding: 20px;
    font-size: 12px;
}

.travel{
    text-align: center;
}

@media screen and (max-width:480px) {
    .navi{
        overflow-x: scroll;
        height: 54px;
    }

    .header-ul{
        margin: 0 auto;
    }

    #pickup{
        flex-direction: column;
        height: 930px;
    }

    #pickup article{
        height: 32%;
        width: 95%;
    }

    .column-container{
        flex-direction: column;
    }

    .column-container main{
        width: 370px;
    }

    .column-img{
        width: 350px;
    }

    .column-img p{
        font-size: 13px;
        padding: 10px 30px;
    }

    .flexbox-footer{
        flex-direction: column;
    }

    .flexbox-footer section{
        width: 350px;
    }

    .travel{
      height: 50px;
    }
}