header nav{
    background-color: black;
    color: white;
}

.wraper{
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header-ul{
    display: flex;
    flex-direction: row;
}

.header-ul li{
    padding: 15px 30px 15px 0;
}

#pickup{
    display: flex;
    justify-content: space-between;
}

#pickup article{
    width: 32%;

}

#pickup .article-title{
    font-size: 15px;
}

.readmore{
    text-align: center;
    font-size: 13px;
}

.readmore a{
    border-bottom: 1px solid black;
}

main {
    width: 100%;
    min-width: 600px;
    max-width: 1000px;
    margin: auto;
}

aside {
    width: 300px;
    min-width: 300px;
    margin: auto;
}